@import "../../style/vars";

.root {
  color: $primary-color;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
}

.logo {
  height: 5em;
  fill: $primary-color;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .root {
    height: 80px;
  }
  .logo {
    height: 3em;
  }
}

.title {
  margin: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  opacity: 0;
}

.backArrow {
  position: absolute;
  height: 2em;
  fill: $primary-color;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 500px) {
  .backArrow {
    height: 1.5em;
    left: 1em;
  }
}
