@import "./vars";

* {
  box-sizing: border-box;
}

html,
body {
  font: 14px/1.21 $text-family;
  color: $text-color;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: #efefef;
}

a {
  color: $primary-color;
}

p {
  word-break: break-all;
}

:global(.transition-container) {
  position: relative;
}
