@import "../../style/vars";

.root {
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
  padding: 1em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gridItem {
  margin-bottom: 2em;
  width: calc(calc(100% / 4) - calc(6rem / 4));
}

@media (max-width: 800px) {
  .gridItem {
    width: calc(calc(100% / 3) - calc(4em / 3));
  }
}

@media (max-width: 620px) {
  .gridItem {
    width: calc(calc(100% / 2) - calc(2em / 2));
  }
}

@media (max-width: 425px) {
  .gridItem {
    width: 100%;
  }
}

.loadmore {
  appearance: none;
  border: none;
  padding: 0 2em;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 50px;
  display: block;
  margin: .5em auto 1.5em;
  background: $primary-color;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  outline: none;
}

.loadmore div {
  border-color: #ffffff;
  border-bottom-color: transparent;
  height: 15px;
  width: 15px;
}
